<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Recipe Generator</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="container">
      <main class="main-content">
        <div id="home">
          <h1>Ano crinacrave mo ngayon?</h1>
          <button onclick=startCravings()>generate cravings</button>
        </div>
      </main>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
